* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsla(234, 12%, 34%, 0.04);
}

.section-container {
  max-width: 101rem;
  margin: 5rem auto;
  position: relative;
}

.header {
  text-align: center;
  margin-bottom: 3.6rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 200;
}

.heading-2 {
  font-size: 2.4rem;
  color: hsl(210, 2%, 33%);
  margin-bottom: 1.6rem;
}

.text {
  color: hsl(229, 6%, 66%);
  font-size: 1.2rem;
  padding: 0 30rem;
  line-height: 1.6;
}
/******/
.supervisor-div {
  border-top: 4px solid hsl(180, 62%, 55%);
  padding: 2.4rem 3.2rem;
  padding-right: 4rem !important;
}

img {
  display: block;
  margin-left: auto;
}

.supervisor-text,
.builder-text,
.karma-text,
.calculator-text {
  margin-bottom: 4rem;
}
.supervisor-text {
  padding: 0 2.4rem;
  padding-left: 0;
  line-height: 1.8;
}

.color {
  color: hsl(229, 6%, 66%);
}

.head {
  color: hsla(234, 12%, 30%, 0.863);
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
/***********/
.builder-div {
  border-top: 4px solid hsl(0, 78%, 62%);
  align-self: start;
}

.builder-text {
  padding-right: 5rem;
}
/******/
.karma-div {
  border-top: 4px solid hsl(34, 97%, 64%);
  grid-column: 2;
  width: 25%;
  position: absolute;
  top: 75%;
  right: 34%;
  margin-top: 3.2rem;
}

.karma-text {
  padding-right: 2rem;
}
/*******/
.calculator-div {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.calculator-text {
  padding-right: 3rem;
}
/****/
.supervisor-div,
.builder-div,
.karma-div,
.calculator-div {
  box-shadow: 0.8rem 0.8rem 2.4rem -1.5rem hsl(234, 12%, 34%);
  padding: 2.4rem 3.2rem;
}
/******/
.grid-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.4rem;
}

.supervisor-div,
.calculator-div {
  margin-top: 12rem;
}

/*.builder-div,
.karma-div {
  margin: 0 auto;
}*/
/*
.supervisor-div {
  position: absolute;
  top: 44%;
  left: -1%;
}

.calculator-div {
  position: absolute;
  top: 44%;
  right: -1%;
}*/
