* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
}
/*::marker for ol or ul*/
.container {
  background-color: #fff;
  width: 50%;
  margin: 100px auto;
  border-radius: 13px;
}

.recipe-content {
  padding: 32px;
  padding-bottom: 48px;
}

.omlette {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 24px;
}

.meal-description {
  font-family: "Young serif", sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}

.heading-recipe {
  font-size: 32px;
  line-height: 1.05;
  color: hsl(24, 5%, 18%);
  margin-bottom: 24px;
}

.info-text {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  line-height: 1.6;
  font-size: 15px;
}
/************/
.list-div {
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
  border-radius: 9px;
  padding: 32px 24px;
  margin-bottom: 32px;
}

.preperation {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  margin-bottom: 16px;
}

.prepare-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 24px;
}

.prepare-list span {
  color: hsl(24, 5%, 18%);
  font-weight: 600;
}
/***********/
.ingredient-div {
  font-family: "Young serif", sans-serif;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 32px;
}

.ingredient-div ul {
  font-family: "Outfit", sans-serif;
}

.ingredients {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}

.ingredient-list {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredient-list li {
  color: hsl(15, 2%, 42%);
}
/***********/
.instruction-div {
  margin-top: 24px;
  font-family: "young serif", sans-serif;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 32px;
}

.instructions {
  color: hsl(14, 45%, 36%);
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

.instruction-list li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.instruction-list {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 24px;
}

.instruction-list li {
  color: hsl(15, 2%, 42%);
  line-height: 1.6;
}

.instruction-list .span {
  color: hsl(30, 10%, 34%);
  font-weight: 700;
}
/**************/
.nutrition-div {
  margin-top: 32px;
  font-family: "Outfit", sans-serif;
}

.nutrition {
  font-family: "Young serif", sans-serif;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  margin-bottom: 24px;
}

.nutrition-text {
  color: hsl(15, 2%, 42%);
  font-size: 15px;
  margin-bottom: 24px;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  width: 55.5%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.span-line {
  display: block;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.flex-text {
  color: hsl(15, 2%, 42%);
}

.flex-ingredient {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.div-2 {
  width: 50%;
}

.div-3 {
  width: 51.8%;
}

.div-4 {
  width: 51.8%;
}
