html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(216, 50%, 16%);
}

p {
  font-size: 1.8rem;
  color: hsla(215, 52%, 70%, 0.651);
}
/*************/
.container-main {
  background-color: hsla(215, 32%, 27%, 0.247);
  width: 25%;
  margin: 20rem auto;
  border-radius: 15px;
  padding-bottom: 3.2rem;
}

.img-div {
  padding: 2rem;
  position: relative;
}

.title,
.text {
  padding-left: 2rem;
}

.text {
  line-height: 1.3;
  margin-bottom: 2.4rem;
}
.image-cube {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 11px;
}

.title {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.flex-img p {
  font-size: 1.6rem;
}

.flex-img img {
  width: 3.2rem;
  height: 3.2rem;
}
/***********************/
.flex-test {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbbbbb46;
  margin: 0 2rem;
  margin-right: 2.2rem;
  padding-bottom: 2.4rem;
}

.first-flex,
.second-flex {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.first-flex p {
  color: hsl(178, 100%, 50%);
}

.second-flex p {
  font-size: 1.6rem;
}
/***********************/
.flex-img {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.6rem;
  padding: 0 2rem;
}

.flex-img span {
  color: #fff;
}
/**********ctive-states**************/
.image-cube:hover {
  background-color: hsl(178, 100%, 50%);
}
.title:hover,
.flex-img span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(178, 100%, 50%);
  border-radius: 11px;
  padding: 12.4rem;
  opacity: 0.6;
  cursor: pointer;

  transform: translate(-50%, -50%);
  display: none;
}

.img-div:hover .view-icon {
  display: inline-block;
}
